# Dev Secrets

# Frontend
NEXT_PUBLIC_API_URL=http://golang:8080

# Postgres
# Generates a high-entropy, base64-encoded string command:
# openssl rand -base64 16
DB_CLIENT=pg
DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=mydb
DB_USER=myuser
DB_PASSWORD=qwerty1234

# S3 Minio
STORAGE_ACCESS_KEY=minioadmin
STORAGE_SECRET_KEY=minioadmin

# Backend
# for it we use: /backend/config/config.local.yaml

GROQ_API_KEY=
